html, body {
	background-color: #eeeeee;
	-webkit-font-smoothing: antialiased;
	font-family: 'Helvetica' sans-serif;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: auto;
	position: relative;
	padding: 60px;
}
#logo {
	background-image: url('Originate_Logo_Shapes.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 200px;
	margin: 0px auto;
}
#tagline {
	position: absolute; 
	font-size: 1.4em;
	font-weight: 500;
	text-align: center;
	color: #698194;
	top: 50%;
	left: 50%;
	margin: 50px 0 0 -140px;
}
#main {
	width: 100%;
	max-width: 1200px;
	margin: 50px auto;
	background-color: #fbfbfb;
	position: relative;
	box-shadow: 0px 0px 3px #dddddd;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;
	transition: all 0.5s ease;
	pointer-events: none;
}
.overlay.gradient_OB {
	background-image: url('OB_Gradient.png');
}
.overlay.gradient_YB {
	background-image: url('YB_Gradient.png');
}
.overlay.gradient_BB {
	background-image: url('BB_Gradient.png');
}

.button {
	display: block;
	padding: 6px 20px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(254, 142, 39, 1.0);
	color: rgba(254, 142, 39, 1.0);
	background-color: rgba(254, 142, 39, 0.0);
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease;
}
.button.btn-l {
	padding: 12px 30px;
	font-size: 1.2em;
}
.button:hover {
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(254, 142, 39, 1.0);
}
.button:active {
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(191, 108, 14, 1.0);
	border-color: rgba(191, 108, 14, 1.0);
}

.z-100 {z-index: 100;}
.z-200 {z-index: 200;}
.z-300 {z-index: 300;}
.z-400 {z-index: 400;}
.column, .row, .cell {
    display: -webkit-flex;
    display: flex;
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.column {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
}
.row {
	-webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.big-row {
	min-height: 600px;
}
.medium-row {
	min-height: 400px;
}
.small-row {
	min-height: 300px;
}
/*
.small-row .column {
	-webkit-justify-content: space-around;
    justify-content: space-around;
}
*/

.row > section {
	position: relative;
	max-width: 50%;
}
.pad {padding: 1rem 3rem;}
.small-row .pad {padding: 1.5rem;}
.pad-l {padding: 3em;}

section .img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
}
section {
	transition: all 0.5s ease;
}
section.medium-row:hover .overlay, section.big-row > section:not(.focus_text):hover .overlay {
	opacity: 0.3;
}
img {
	width: 100%;
	height: auto;
}
section > h3, section > h4, section > img {
	z-index: 10;
}
.section-title {
	color: #303E48;
	font-size: 1.6em;
	margin-bottom: 20px;
}
.section-text {
	color: #999;
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 30px;
}
.small-row .section-title {
	font-size: 1.2em;
}
.small-row .section-text {
	font-size: 1em;
	line-height: 1.4em;
}
.small-row .section-icon {
	width: 30%;
	margin: 0 auto;
	margin-bottom: 3em;
}
.small-row .section-icon img {
	width: 100%;
}
.image-bar {
	width: 100%;
	max-height: 200px;
	transition: all 0.5s ease;
}
section.big-row > section.quote:hover .image-bar { max-height: 150px; }
section.big-row > section.quote:hover .image-bar .overlay { opacity: 0.8; }
section.big-row > section.quote > .image-bar:hover { max-height: 250px; }
section.big-row > section.quote > .image-bar:hover .overlay { opacity: 0.3; }

/*
.features section {
	border: 6px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(248, 219, 101, 1.0);
}
*/
.features section {
	background-color: rgba(248, 248, 248, 1.0);
}
.features section:hover {
	background-color: rgba(251, 251, 251, 1.0);
}
video {
	max-width: 100%;
}
#video {
	margin-bottom: -4px;
}
.focus_logo img {
	transition: all 0.5s ease;
	-ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.9;
}
.focus_logo.grow img {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.focus_logo.grow .overlay {
	opacity: 0.8;
}

.focus_text:hover .overlay {
	opacity: 0.8;
}
.text_box {
	z-index: 5;
	text-align: center;
	color: white;
	transition: all 0.5s ease;
	transform: scale(0.95);
	-ms-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	opacity: 0;
}
.text_box span {display: inline-block; padding: 1em 0;}
.text_box span:first-child {
	border-bottom: 1px solid white;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	
}
.focus_text:hover .text_box {
	opacity: 1;
	transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
}
section.center_callout {max-width: 100%;}
.center_callout > div {
	text-align: center;
	width: 75%;
	margin: 0 auto;
}
.center_callout > div > div {
	width: 100%;
}
.callout_button {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.callout_button > a {
	flex: auto;
	max-width: 240px;
	
}
.callout_button > a:nth-child(odd) {margin-right: 1em;}
.callout_button > a:nth-child(even) {margin-left: 1em;}
.callout_button > a:only-child {max-width: 400px; margin: 0;}

.arrow-top:after, .arrow-bottom:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
.arrow-right:after, .arrow-left:after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    margin: 0;
    top: 50%;
	transform: translateY(-50%);
}
.arrow-bottom:after {
    border-top: 10px solid #fbfbfb;
    bottom: -10px;
}
.arrow-top:after {
    border-bottom: 10px solid #fbfbfb;
    top: -10px;
}
.arrow-right:after {
    border-left: 10px solid #fbfbfb;
    right: -10px;

}
.arrow-left:after {
    border-right: 10px solid #fbfbfb;
    left: -10px;
}
/*
.arrow-top:after, .arrow-bottom:after {
	position: relative;
}
*/
.pricing {
	
}
.pricing * {
	justify-content: flex-start;
	text-align: center;
	width: 100%;
	transition: all 0.5s ease;
	color: white;
}
.pricing .button {
	width: auto;
	display: inline;
	border-color: rgba(106, 127, 149, 1.0);
	color: rgba(49, 62, 72, 1.0);
	background-color: rgba(106, 127, 149, 0);
}
.pricing .button:hover {
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(106, 127, 149, 1.0);
}
.pricing .button:active {
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(60, 73, 84, 1.0);
	border-color: rgba(60, 73, 84, 1.0);
}

.pricing span {
	display: block;
}
.pricing div > div {
	padding: 0.5rem;
	min-height: 35px;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.pricing div > div:last-child {border: none;}
.pricing div > div:first-child, .pricing div > div:last-child {
	padding: 2rem;
}
.pricing .section-title {
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
}
.pricing section > div {
	background-color: rgba(152, 217, 235, 1);
	box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
}
.pricing:hover section > div {
	background-color: rgba(152, 217, 235, 0.6);
}
.pricing:hover section:hover > div {
	background-color: rgba(152, 217, 235, 1.0);
	box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.05);
}
.pricing section:hover div > div:not(:last-child, .section-title) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.price span:first-child {
	font-size: 2.5em;
}
.price span:last-child {
	text-transform: uppercase;
}
.pricing .price {
	padding-bottom: 20px;
}

#map {
	width: 100%;
	height: 400px;
}



@media screen and ( max-width: 750px ) {
	#main .row:not(.medium-row) > .column {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		flex: auto;
		-webkit-flex: auto;
		max-width: 100%;
	}
}
